
/* @font-face
{
    font-family: "notoserifsc-medium";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/notoserifsc-medium-webfont.woff2") format("woff2"),  
        url("../fonts/notoserifsc-medium-webfont.woff") format("woff");
    ;
} */

@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 400;
    font-display: swap; 
    src: local("LXGW WenKai"),
         url("../fonts/LXGWWenKaiLite-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.6.0/fonts/lxgwwenkai-screen-regular.woff2") format("woff2");
}

@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 700;
    font-display: swap; 
    src: local("LXGW WenKai Bold"),
         url("../fonts/LXGWWenKaiLite-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.6.0/fonts/lxgwwenkai-screen-bold.woff2") format("woff2");
}


/* @font-face {
    font-family: "LXGW WenKai";
    font-weight: 400;
}

@font-face {
    font-family: "LXGW WenKai";
    font-weight: 700;
} */

/* @font-face {
    font-family: "Local LXGW WenKai";
    font-style: normal;
    font-weight: 600;
    font-display: swap; 
    src: local("../fonts/LXGWWenKaiLite-Regular.woff2"),
        url("../fonts/LXGWWenKaiLite-Regular.woff2") format("woff2"),
        url("../fonts/LXGWWenKaiMono-Regular.woff2") format("woff2"),
        url("https://jsd.cdn.zzko.cn/gh/hininojay/images/source/img/a4color/LXGWWenKaiLite-Regular.woff2") format("woff2"),
        url("https://jsd.cdn.zzko.cn/gh/hininojay/images/source/img/a4color/LXGWWenKaiMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Local LXGW WenKai Bold";
    font-style: normal;
    font-weight: bold;
    src: local("../fonts/LXGWWenKaiLite-Bold.woff2"),
        url("../fonts/LXGWWenKaiLite-Bold.woff2") format("woff2"),
        url("https://jsd.cdn.zzko.cn/gh/hininojay/images/source/img/a4color/LXGWWenKaiLite-Bold.woff2") format("woff2");
} */
